body {
    color: #3357FF;
    background: #3357FF; 
    margin: 0px;
}

header {
    border-bottom: solid 2px #1F77B4;
    padding: 20px;
    font-size: 32px;
    color: #3357FF;
}

section {
    background: #1F77B4; 
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%px
}

